/* animations.css */

/* Estado inicial oculto */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  /* Clase activa al aparecer */
  .fade-in.active {
    opacity: 1;
    transform: translateY(0);
  }
  
.property-card {
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.property-card:hover {
    
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
